@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: temp;
    src: url('./fonts/LuckiestGuy.ttf')
}
@font-face{
    font-family: logo;
    src: url('./fonts/BLACK\ DECEMBER.ttf')
}

/* all about translate */
.translate-y-16p{
    transform: translateY(16.5%);
}
/* all about fonts */
.simpleFont{
    font-family: temp;
}
.logoFont{
    font-family: logo;
}
/* allabout text-size */
.text-xss{
    font-size: 10px;
}
/* all about search */
.grid-search{
    display: grid;
    grid-template-columns: 10fr 20px 1.5fr;
}

#searchInput::placeholder{
    transition: all 300ms ease;
    padding-left: 4px;
}

.w-temp-display{
    width: 800px;
}
@media(max-width:992px){
    .w-temp-display{
        width: 700px;
    }
}
@media(max-width:770px){
    .w-temp-display{
        width: 500px;
    }
}
@media(max-width:576px){
    .w-temp-display{
        width: 400px;
    }
}
@media(max-width:480px){
    .w-temp-display{
        width: 370px;
    }
}
@media(max-width:400px){
    .w-temp-display{
        width: 280px;
    }
}
@media(max-width:300px){
    .w-temp-display{
        width: 200px;
    }
}